<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>

<br><h3><ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href = "<%= bookmark.url%>" target="_blank"><%= bookmark.title%></a></li>
  <% end %>
</ul></h3>

<br><h6>&nbsp;&nbsp;<a href="/">Go back to main</a></h6>
